*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* #region variables */
:root{
    --bg_sidebar-color: #000000;
    --bg_main-color: #141922;
    --bg_player-color: #282828;
    --bg_topbar-color: rgba(0,0,0,0.4);

    --txt_primary-color:#FFFFFF;
    --txt_secondary-color:#707277;
}

/* #region grid */

.row {
    width: 100%;
}

.cl_20 {
    width: 20%;
}

.cl_80 {
    width: 80%;
    
}


/* #endregion */

/* #region common */

.flex {
    display:flex;
}

img{
    max-width: 100%;
}

ul{
    list-style: none;
}


.icon{
    height: 24px;
    width: 24px;
}


svg{
    width: 100%;
    color:var(--txt_secondary-color);
}


h3 {
    font-size: 12px;
    padding: 14px 0 0;
    color:var(--txt_primary-color);
}

/* #endregion */
.upc {
    text-transform: uppercase;
}

/* #endregion */


/* #region main */
.main_container{
    height: calc( 100vh - 90px);
    justify-content: flex-start;
}

.main_view {
    z-index: 0;
    background-color: var(--bg_main-color);
    color:var(--txt_primary-color);
    
}

.top_bar{
    z-index: 1;
    height: 90px;
    background-color:var(--bg_topbar-color) ;
}


/* #endregion */

/* #region navbar */
.navbar{
    z-index: 2;
    flex-direction: column;
    height: calc( 100vh - 90px);
    background-color: var(--bg_sidebar-color);
    color:var(--txt_secondary-color);
    padding:24px 24px 0;
}

.logo{
    height: 43px;
    max-width: 134px;
    margin-bottom: 18px;
}


.nav_item {
    align-items: center;
}


.nav_item .nav_text, .user>.user_id {
    padding:12px 10px;
}



.icon.plus {
    background-color: var(--txt_secondary-color);
    color:black;
    text-align: center;
}


.playlist_name{
    padding-bottom:12px;
    
}

.profile{
    margin-top: auto;
}

#profile_img{
    height: 24px;
    width: 24px;
    background-color: grey;
    border-radius: 50%;
    
}

.cta{
    padding-bottom:10px;
    border-bottom: 1px solid var(--txt_secondary-color);
} 

.user>.user_id{
    color:white;
    font-weight: 700;
}

/* #endregion*/

/* #region footer */

footer{
    z-index: 3;
    height:90px;
    background-color: var(--bg_player-color);
    color:var(--txt_primary-color);
}
/* #endregion */


